<h2>Enseniando el articulo seleccionado</h2>
<p>
  Title <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>
<%= link_to 'Editar',edit_article_path(@article) %>
<%= link_to 'Volver a los articulos',articles_path %>