<div class="container">
  <footer>
    <small>Copyrights &copy; <a href="http://mundixblog.herokuapp.com">Mundiblog</a>
    By <a href="#">Clemente Pichardo</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Nosotros",about_path %></li>
      </ul>
    </nav>
  </footer>
</div>